.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 28%;
  height: 75vh;
  margin: 7% auto 0 auto;
  border: 1px solid;
  .area {
    outline: none;
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: 62px;
    border: none;
    background-color: #433437;
    color: #FFFFFF;
  }
  .calc-elem {
    width: 100%;
    height: 100%;
    border: 1px solid #921029;
    background-color: #FFFFFF;
    color: #292929;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 46px;
    transition: .2s;
    cursor: pointer;
    -moz-user-select: none; 
    -khtml-user-select: none;
    user-select: none;
  }
  .calc-elem:hover {
    background-color: #e3e3e3;
  }
  .calc-elem:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .calc-elem:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .calc-elem:nth-child(17) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .active {
    background-color: #F2274F;
    color: #FFFFFF;
  }
  .active:hover {
    background-color: #fe0f3f;
  }
}

@media screen and (orientation: portrait) {
  .container {
    width: 95%;
    height: 80%;
  }
}